body {
    background: #11001c;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding-top: 50px;
    color: #333;
}

#typed-text {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    font: bold;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    color: #333;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.container {
    max-width: 600px;
    margin: auto;
}

button {
    background-color: #350655;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.hidden {
    display: none;
}

#surprise {
    margin-top: 30px;
}